body {
    margin: 0px;
    padding: 50px;
    background-color: #f0f9c7;
}
.container-char {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}
.char-style {
    width: 100%;
    height: 500px;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1em;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-style:nth-child(1) {
    background-color: #e9e5c0;
}
.char-style:nth-child(2) {
    background-color: #ffeb8c;
}
.char-style:nth-child(3) {
    background-color: #eee68e;
}

.char-animation {
    animation-name: char-animation;
    animation-duration: 1.2s;
    timing-function: ease;
}

@keyframes char-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}
